# Ignore everything
*

# Include these directories, and files within them
!/src
!/src/**.py
!/tests
!/tests/**

# Include these directories but not the data within them
!/data
!/data/**

# Include files at the root
!/README.md
!/requirements.txt
!/.gitignore