# Ignore everything
*

# Include these directories, and files within them
!/gpt_categorizer_utils
!/gpt_categorizer_utils/**.py
!/scripts
!/scripts/**.py
!/tests
!/tests/**.py

# Include these directories but not the data within them
!/data
!/data/*
# NOTE: This isn't yet recursive :/
!/data/*/.keep

# Include these files at the root
!/README.md
!/requirements.txt
!/.gitignore